<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SupplyFrame assessment</title>
    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<style>
  .icons{
    font-size: 21px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    color:blue;
  }
  .loader-off{
    display: none;
  }
  .loader {
    display: block;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #03741d; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  body{
    width:100%;
    height: 100%;
    background-image: linear-gradient(to right,rgb(228, 125, 125), rgb(244, 181, 9));

  }
  .noshow{
    display:none;
  }
  #nav{
    display:block;
    padding: 3px;
    width: 200px;
   
  }
  #container{
    border:1px solid lightgray;
    height:100%;
    width:60%;
    /* margin-left:auto;
    margin-right:auto; */
    padding:5%;
    box-shadow: 3px 3px 3px lightgray;
    border-radius: 3%;
    background-color: antiquewhite;
  }
  
</style>
<body>
    <div class="align-center col-sm-6 justify-center mx-auto mt-4" id="container">
    <h4 class="fs-20 ms-2 col-sm-6">Let's get some Dog facts!</h4>    
    <button id="getButton" class="btn btn-primary w-6">
        Click for facts!
    </button>
    <div id="nav" class="">

    </div>
    <div id="ldd">
        
    </div>
    
    <div id="showData" >
     
    </div>
    
</div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    var btn = document.getElementById('getButton')
    factsArr = []
    btn.addEventListener('click',()=>{
        document.getElementById('ldd').classList.add('loader')
        console.log('clicked')
        setTimeout(() => {
          document.getElementById('ldd').classList.remove('loader')
            document.getElementById('ldd').classList.add('loader-off')
        }, 1000);
        
        setTimeout( () => {
           $.ajax({
        url: "http://localhost:3000/get",
        type: 'POST',
        success: function(res) {
            
            
            //Pagination logic
            console.log('GET FACTS ON FRONT',res);
            factsArr = res.facts
            
            const nav = document.getElementById('nav');
            const content = document.getElementById('showData');
            let pageIndex = 0;
            let itemsPerPage = 6;
            loadItems();
            function loadItems() {
                content.innerHTML = "";
                for (let i=pageIndex*itemsPerPage; i<(pageIndex*itemsPerPage)+itemsPerPage; i++) {
                    if (!factsArr[i]) { break }
                    const item = document.createElement('div');
                    item.innerHTML = `
                        <p><strong><i class="fa-solid fa-dog"></i> </strong> ${factsArr[i]}</p>
                    `;
                    content.append(item);
                }
                loadPageNav();
            }
            function loadPageNav() {
                nav.style.fontWeight = "bold"
                nav.innerHTML = "Page";
                for (let i=0; i<(factsArr.length/itemsPerPage); i++) {
                    
                    const span = document.createElement('span');
                    span.innerHTML = i+1;
                    span.classList.add('icons')
                    span.addEventListener('click', (e) => {
                        pageIndex = e.target.innerHTML-1;
                        loadItems();
                    });
                    if (i === pageIndex) {
                        span.style.fontSize = "2rem";
                        span.style.overflowWrap = "wrap"
                        span.style.width = "800px"
                        span.style.color = "orange"
                    }
                    nav.append(span);
                }
            }
          
        }
    });   


        }, 1000);
     
  
        
    })
    
    
</script>
</html>